/* Navigation bar styles */
.petsCorner-taskbar {
    background-color: #cfcecb; 
    color: #d3c5bc; 
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.petsCorner-taskbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.petsCorner-taskbar ul li {
    display: inline;
    margin-right: 20px;
}

.petsCorner-taskbar ul li a {
    text-decoration: none;
    color: #603b28;
}

/* Background image */
body {
    background-image: url('../static/Pets_corner2.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensure background image remains fixed */
    margin: 0; /* Reset default body margin */
}

/* Pets container styles */
.pets-container {
    padding: 100px 20px; /* Adjust padding as needed */
    text-align: center;
}

/* Pets section styles */
.pets-section {
    margin-bottom: 40px; /* Adjust spacing between sections */
}

.pets-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #603b28;
}

/* Pet item container styles */
.pet-adopt-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
}

/* Pet item styles */
.pet-data {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px; /* Adjust top and bottom margin */
    width: 300px; /* Fixed width for each pet item */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.pet-data h3 {
    margin-top: 0;
    font-size: 20px;
    color: #603b28;
}

.pet-data p {
    color: #666;
}

.pet-data img {
    width: 100%; /* Ensure images fill their containers */
    border-radius: 5px;
    margin-bottom: 10px; /* Add spacing between image and text */
}

/* Style for adopt button */
.adopt-btn {
    background-color: #ae7c55;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style for adopt button on hover */
.adopt-btn:hover {
    background-color: #ae7c55;
}
