<!DOCTYPE html>
<html>
<head>
    <title>Paw-Latte</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="C:\Flask_Devops\static\Home_Style.css">
</head>
<body>
    <div class="taskbar">
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Menu.html">Menu</a></li> 
            <li><a href="#">Reservations</a></li>
            <li><a href="petsCornor.html">Pets Corner</a></li>
            <li class="account-tab"><a href="MyAccount.html">My Account</a></li>
        </ul>
    </div>
</body>
</html>
