<!DOCTYPE html>
<html>
<head>
    <title>Paw-Latte</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="static/Home_Style.css">

</head>
<body>
    <div class="taskbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li> 
            <li><a href="{{ url_for('petscorner') }}">Pets Corner</a></li>
            <li class="account-tab"><a href="{{ url_for('profile') }}">My Profile</a></li>
        </ul>
    </div>
</body>
</html>
