<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - Paw Latte</title>
    <link rel="stylesheet" href="C:\Flask_Devops\static\Signup_Style.css">
    <script src="Signup.js" defer></script>
</head>
<body>
    <!-- Navigation bar -->
    <div class="signup-taskbar">
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Menu.html">Menu</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Pets Corner</a></li>
            <li class="account-tab"><a href="Signup.html">My Account</a></li>
        </ul>
    </div>

    <!-- Sign-up Form -->
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form>
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
            <input type="email" placeholder="Email" required>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="MyAccount.html">Login here</a></p>
    </div>
</body>
</html>
